
#h2s {
    font-family: 'henny penny';
    font-size: 1.5em;
    text-decoration: underline;
    color: #8cbf3f;
    text-align: center
};

#aboutt {
    text-align: center;
    padding: 1.5rem 1em;
}
.mayor {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1em;
    text-align: center;
    &::before {
        position: absolute;
        width: 95%;
        height: 5px;
        background: linear-gradient(to right, #9453a6, #f2cc0f, #8cbf3f);
        content: "";
        top: 10px;
    };
    @include tablet {
        .flexbox {
        display: block;
        }
    }
};

.flexbox {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    gap: 1.1em;
};

img [src="images/LaToyaCantrell.jpg"] {
    height: 250px;
    width: 150px;
}

#photo {
    border-radius: 30%;
    transition: all 0.3s ease-in-out;
    
};
#photo:hover {
   transform: rotate(2deg) scale(1.05);
   transition: all 0.3s ease-in-out;
};
